[2021-03-04 02:52] daveoley opened #1 "KeyError when trying to get vehicle status"
The remote_info for my '21 Mazda CX-5 does not contain all the keys that are being accessed in get_vehicle_status().

The missing keys are:

- RemDrvDistDActlKm
- FLTPrsDispPsi
- FRTPrsDispPsi
- RLTPrsDispPsi
- RRTPrsDispPsi

The TPMS information for this car only has the following fields:

- RRTyrePressWarn
- MntTyreAtFlg
- RLTyrePressWarn
- TPMSStatus
- FRTyrePressWarn
- FLTyrePressWarn

Perhaps

[2021-03-04 03:04] bdr99 commented on #1
Thanks for the issue report, and also thanks for debugging the issue to find the root cause!

Would you mind sharing your entire result of calling `get_vehicle_status()`? (After removing any personal info, of course.)

[2021-03-04 03:06] bdr99 commented on #1
Also, do you see the tire pressure and fuel distance values if you log into the MyMazda mobile app?

[2021-03-04 03:14] daveoley commented on #1
Here's the entire response:

[code]

The Mazda app only shows the fuel percent and odometer on the Vehicle Status page. It shows a check mark next to the Tire Pressure in the Health Report.

[2021-03-04 03:20] bdr99 commented on #1
OK, thanks for sharing that. Interesting, I'll have to add some logic to check if those values are present.

I've only tested this library on my 2021 Mazda3 so it's very possible that some of the values only exist on certain models.

[2021-03-04 03:24] daveoley commented on #1
No problem!

It's very possible that those values will show up once I've driven the car more. It only has 70 miles on it, so the TPMS might not have measured values yet.

[2021-03-04 03:27] bdr99 commented on #1
Yes that is also a possibility. Please let me know if those values show up for you later!

[2021-03-04 04:45] bdr99 commented on #1
@daveoley I just published version 0.0.9 which adds some additional checks to handle missing values. The missing values should now resolve to `None` instead of raising an error. Can you try it and let me know if it works for you?

[2021-03-05 03:03] daveoley commented on #1
That fixed it for me, no more KeyError.

[code]

[2021-03-07 16:46] Mr-Grover opened #3 "MX-30 Feature set"
Hello,

The mx-30 supports extra features not seen in other Mazda's. Let me know if you can add it and I would be happy to test :)

[2021-03-07 18:52] bdr99 commented on #3
Thanks for the offer to help! I would love to add support for these extra features, but I will definitely need your help for testing, since I don't have an MX-30.

What are the extra features that the MX-30 supports? Also, do the current features work correctly with your MX-30?

[2021-03-07 18:57] Mr-Grover commented on #3
Here is the quick break down from Mazda. And yes the current service works it even pulls in the range !(thinks it fuel hehe) Thanks so much for your hard work. Happy to test and help where I can

I would say the stand out features are Door lock status and locking the door(you can't unlock) Viewing and controlling the AC

[code]

[2021-03-07 19:30] bdr99 commented on #1
Ok great! I'm going to close this issue then. Thanks again for your help.

[2021-03-07 19:30] #1 closed

[2021-03-07 20:22] bdr99 commented on #3
Glad to hear the library is working with your car. Actually `pymazda` already has support for door lock status and locking and unlocking doors. It wasn't documented very well, but I just updated the readme to hopefully make things a lot more clear.

The door lock status is included in the `client.get_vehicle_status()` response, and the doors can be locked or unlocked with `client.lock_doors()` and

[2021-03-07 23:54] hufftheweevil opened #4 "JavaScript Conversion"
Not an issue, but a question:

I don't see any license for this repo. Is it open-source? If permitted, I would like to convert this to a JS library. I can attach credit, if necessary. Please let me know. Thank you

[2021-03-08 03:41] bdr99 commented on #4
It's funny you should ask, because this library actually started as a JS library, written in TypeScript. I ported it to Python so I could use it in Home Assistant, but I never actually published the JS version. I just published it, and you can find it here: [bdr99/node-mymazda](https://github.com/bdr99/node-mymazda) and on npm here: [node-mymazda](https://www.npmjs.com/package/node-mymazda)

The J

[2021-03-08 09:34] Mr-Grover commented on #3
Thanks for that. I will poke around when I get some time.

[2021-03-08 14:15] hufftheweevil commented on #4
Sweet, this is going to save my so much headache trying to convert all those crypto functions. Thanks!

FYI, I'm going to be creating a Node-RED node that incorporates the API. I'll be sure to link back to the JS library for reference and attribution.

[2021-03-08 14:15] #4 closed

[2021-03-08 14:26] bdr99 commented on #4
Sounds awesome! Looking forward to it.

Yeah, the crypto functions were the hardest part when porting it from JS to Python. I'm glad you asked before porting it to JS. It would have been a shame if you redid the work I had already done.

[2021-03-08 20:26] Mr-Grover commented on #3
Just tested `await client.lock_doors(vehicle_id)`. Looks to be working fine for me. The status on the other hand was always False not sure why that was.

[2021-03-17 18:28] AllPurposeBen opened #5 "Unclosed client session output"
When running what I think is an valid variation of the example code, in addition to the desired json output, I see:
[code]

Here's my test script:
[code]

What am I missing in closing the session properly? Apologies if it's obvious, I'm not great with python.

[2021-03-18 00:44] bdr99 commented on #5
Thanks for pointing this out! So what's happening is that internally, the library instantiates an instance of `aiohttp.ClientSession` to use for the API requests. This session needs to be closed when you're finished using it, but the library didn't expose a function for doing so. I just published version 0.0.10 which adds a `client.close()` function to close the session. The example code is update

[2021-03-18 01:01] AllPurposeBen commented on #5
Worked like a charm, thank you!

[2021-03-18 01:21] #5 closed

[2021-03-18 01:31] AllPurposeBen opened #6 "Feature Req: Send POI to car"
It would be cool to be able to send a POI to the car programmatically like you can from the MyMazda app's map screen. I'm not sure what data is needed for the payload in that API request but it would be handy. I use CarPlay for navigation 90% of the time but it would sure beat keying a POI in from the command wheel or using the jank Mazda app for the times I use factory nav.

![IMG_0135](https://u

[2021-03-18 03:55] bdr99 commented on #6
I agree it would be nice to have this feature. I'll take a look and see how difficult it would be to implement it. 🙂

[2021-03-20 03:37] bdr99 commented on #6
I hadn't ever tried the "Send POI to car" feature before, so I tried it out today, and wow it is really difficult to use. The search feature is terrible and the results are often nowhere near the place you searched for. And it seems like you can only send the POIs that are in their database. You can't just tap anywhere on the map or enter any address and send it. @AllPurposeBen Please correct me i

[2021-03-20 05:03] AllPurposeBen commented on #6
Yeah, the MyMazda app, on iOS at least, is hot garbage for many reasons, definitely including the map function.

I think something equal if not greater could be concocted with this module and a custom iOS share action with Pythonista or Scriptable (though I suck at js even more than I suck at python).

Glad to test as needed but equally happy to get you a nav card to use to test with and enjoy. Th

[2021-03-21 02:12] bdr99 commented on #6
That's a very generous offer! But I honestly don't think it would be of much use to me. I use Android Auto all the time, so the nav card wouldn't be of much use to me. Thanks a lot for the offer though!

I have an experimental implementation of the Send POI feature. It's on the `send_poi` branch in this repo, here: https://github.com/bdr99/pymazda/tree/send_poi

It works like this:
[code]
Can you

[2021-03-21 20:21] AllPurposeBen opened #7 "Alternatives to pycryptodome"
This may be a big ask but is there a pure python alternative to pycrpytodome that could be used without too much hassle?

I'd like to be able to call this module from PyPi on iOS but because of the sandboxing within iOS,[ it can't really run anything with c extensions](https://pyto.readthedocs.io/en/latest/). Here's a [list on the pre-installed/rigged-to-work packages Pyto has](https://pyto.readth

[2021-03-21 20:23] AllPurposeBen commented on #6
So far so good, I send a POI for my lunch destination today and it came through and worked fine.

I'm going to try to confuse it some with decimal lat/long pairs of lower resolution and see if there's a point where the API objects to it and other general attempts to break it.

[2021-03-21 20:30] bdr99 commented on #6
Nice! Thanks for testing. I'll hold off on merging it to master until you're able to do that additional testing.

[2021-03-21 20:36] bdr99 commented on #7
Hmm, I could probably get it to work using [cryptography](https://pypi.org/project/cryptography/). This should work on iOS, since it's on the list from your link, right?

I think this would be a good change to make anyway, since cryptography seems a bit more modern and robust than pycryptodome.

[2021-03-21 21:26] AllPurposeBen commented on #7
Yep, cryptography imports without complaint. Thanks!

[2021-03-22 00:04] bdr99 commented on #3
@Mr-Grover Thanks for testing `lock_doors`. As for the status, I think it may just take some time to update. Everything is slow since the car is communicating over a mobile network.

I just created a test implementation of the `start_charging` and `stop_charging` methods. I have no idea if they work, Mazda doesn't even sell any EVs in my country. Would you be able to test them with your car? The c

[2021-03-22 00:20] Mr-Grover commented on #3
Yes I think you’re right and I been meaning to test it again. Even the official Mazda app takes a few mins to alert me.

I will test those features when I get some time. I haven’t even used the MyMazda app to stop or start the charge so this will be a new one for me haha

[2021-03-22 03:50] bdr99 commented on #7
Well, that was easy! It didn't take long at all to convert the library from pycryptodome to cryptography. Here's the commit: https://github.com/bdr99/pymazda/commit/3e5eff5e2a556ae62a528b74e3a88dc604177f7f

I hope this helps with what you're trying to do on iOS! It was a good change anyway, I like this new library much better.

[2021-03-22 03:50] #7 closed

[2021-03-22 15:00] AllPurposeBen commented on #6
I tried paring down the lat/long decimal places and it just interprets a wider destination target, which is fine. That's more of a "good to know" than anything else. So yeah, cool, I'm happy, merge at your leisure.  Thank you!

[2021-04-03 14:23] #6 closed

[2021-04-03 18:53] bdr99 commented on #6
Thanks again for all of the testing. I have merged this feature into `master` and it is included in version 0.1.1.

[2021-04-07 13:08] Mr-Grover commented on #3
So sorry for the delay ! but I was able to finally test the stop and start charge commands. Both worked for me without issue YAY :)

Also you were right about the door status I tested again and it did in fact switch from false to true after about a min or two.

There is nothing I see from the get vehicle status method to show that the car is charging or not just a FYI.

Do you think we can get the

[2021-05-30 05:28] fboulegue opened #8 "How to send requests..."
Sorry I m kinda a noob :-) I installed it via pip :-) but I can't run the commands below via terminal, what do I use for it?

[2021-05-30 05:41] #8 closed

[2021-05-30 05:41] fboulegue opened #9 "Error Return"
Hey I always get this error return

`/Users/fboulegue/PycharmProjects/pythonProject/venv/bin/python /Users/fboulegue/PycharmProjects/pythonProject/main.py
{'lastUpdatedTimestamp': '20210529174627', 'latitude': 51.73875, 'longitude': 8.757431, 'positionTimestamp': '20210529122303', 'fuelRemainingPercent': 0.0, 'fuelDistanceRemainingKm': 122.0, 'odometerKm': 6601.0, 'doors': {'driverDoorOpen': False

[2021-05-30 06:34] #9 closed

[2021-05-30 08:03] fboulegue opened #10 "Call for Update "lastUpdatedTimestamp""
Is there a way to request a dataset update?
Right now I always get the same timestamp etc..., like I would need to ask the car for send a update

[2021-05-30 21:02] bdr99 commented on #10
Unfortunately I don't think there is a way to request the car to send an update. This feature would need to be in the official (MyMazda) app for me to add it to this library. If you find a way to request an update in the official app, please let me know :)

I've noticed that it seems to send an update whenever the engine is shut off, or when the doors are locked/unlocked. There may be other trigge

[2021-05-31 04:00] fboulegue commented on #10
There is a way - If you go into Status and ‚pull to refresh‘ it Actually requesting new data

![6D1A9FC7-B947-4520-918A-79916B708C1C](https://user-images.githubusercontent.com/2719590/120137824-716b8a00-c1d5-11eb-9253-ffaa744b6223.png)
Click on small arrow to fullpage

![4D0D3CE5-A6D1-44DF-BAEC-26945AD7B3AB](https://user-images.githubusercontent.com/2719590/120137843-7d574c00-c1d5-11eb-98c3-67f042

[2021-05-31 05:02] bdr99 commented on #10
Hmm, are you sure it is really requesting new data? When you drag down to refresh, does the timestamp at the top of the page change? With my car, the timestamp never changes, no matter how many times I drag down to refresh.

By the way, I can see your first two screenshots above, but I can't see the third one.

[2021-06-01 02:01] fboulegue commented on #10
Yes I m sure ... it sometimes take a couple of sec until a minute but there is even a notification that give the information 'new real time data available' after the pull to refresh.

[2021-06-01 02:05] fboulegue commented on #10
![image](https://user-images.githubusercontent.com/2719590/120256464-7b04f880-c28e-11eb-9b07-52de33ac7005.jpeg) see here it's the request push and after a few seconds there is a other one that's tells new information ready

[2021-06-07 22:53] Mr-Grover opened #11 "Mazda HA integration is not longer loading."
Wasn't sure the best way to commutate so I hope this is okay. I was noticing the mazda app stopped working. I was able to delete and re add it but still no devices or components load and this error shows in the log
[code]

[2021-06-07 22:55] bdr99 commented on #11
Hi, thanks for reaching out. What version of HA are you using?

[2021-06-07 22:56] Mr-Grover commented on #11
2021.5.5

[2021-06-07 22:58] bdr99 commented on #11
Can you try updating to 2021.6.0 or later and see if the log output is different? There are some changes in that version that might be able to give us more info in the logs when an error occurs.

[2021-06-07 23:00] Mr-Grover commented on #11
I will update it this weekend and let you know.

Thanks !

[2021-06-07 23:08] bdr99 commented on #3
Home Assistant 2021.6 was released last week which includes support for locking/unlocking the doors, and adds services such as starting/stopping the engine, starting/stopping charging, flashing the lights, etc. Enjoy!

[2021-06-07 23:10] bdr99 commented on #10
Interesting. I think this may be a unique feature for the MX-30. I'll do some research and see if I can figure out how to trigger this feature programmatically.

[2021-06-07 23:11] Mr-Grover commented on #3
Yes I did see that ! Thanks so much. Will update this weekend. Ever since HA moved to a monthly cycle I been week behind because of my 2 week upgrade cycle haha. Will keep you posted

[2021-06-08 11:50] pr0fetul commented on #11
Hi, I have the latest HA installed (2021.6.2), and been using the Mazda component for some time. Lately - 2-3 days now - the component stopped working and it's stating: "Retrying setup: Request failed: An update to Mazda app is required to continue"
[code]
I tried to delete the component and re-add it. On the Android phone it shows the info/details, but in HA there is no data available.

Thank you

[2021-06-08 11:52] Mr-Grover commented on #11
That is more or less the same issue I am having. Thanks for sharing !

[2021-06-08 13:39] bdr99 commented on #11
It looks like there has been a change on the Mazda API side. Oddly, I'm in North America and the integration is still working fine for me, so I think this change is specific to the Europe region. I'll look into it and see if I can figure out what changed.

[2021-06-08 13:40] pr0fetul commented on #11
Thank you for your time and dedication.
If I can help with anything, please do not hesitate to ask.

Thank you

[2021-06-08 19:33] fboulegue commented on #10
Sure let me know if you need any assist

[2021-06-10 01:06] bdr99 commented on #11
I think I found the problem. I just had to increment the app version number from 7.2.0 to 7.3.0 which is the newest version. I just created a new branch in this repo called `app-version-730` that contains the fix. @Mr-Grover @pr0fetul would one of you be able to try this branch and see if you are able to connect and interact with your car?

[2021-06-10 06:57] pr0fetul commented on #11
Hi @bdr99 , thank you for the fast reply. As I am trying to run the code, using the new branch change, when I run the code in PyCharm (Python 3.6), the loop does not seem to finish. Here is the code I am running:
[code]
I let it run for 5 min - but no return unfortunately. In my C:\Python36\Lib\site-packages\pymazda I changed the file connection.py to the one posted in your branch with the updated

[2021-06-10 17:01] AllPurposeBen commented on #11
Possibly related, maybe not and should be broken to a new issue but I'm getting a failure in HA as well, also in my own wrapper script for local command line use.

I'm seeing timeouts, not the same errors as above, and I'm in the US region. I logged into the account I use for this in the app and confirmed it's not locked or anything nerfing the account.

<details>
  <summary>In HA, I get this erro

[2021-06-10 17:09] bdr99 commented on #11
@AllPurposeBen thanks for the info. It looks like Mazda just made another change to their API last night, which broke this library. This is in addition to the change that caused the original issue reported by @Mr-Grover. I'm working on determining the best course of action and will post an update here when I figure anything out.

[2021-06-10 17:10] pr0fetul commented on #11
It's similar with what I am getting above. It might be that they changed the auth method and it's not responding correctly, or they have introduced a new check during the auth/retrieval of data.... my 2 cents.

[2021-06-11 01:20] bdr99 commented on #11
As an update, I figured out that the timeout issue is caused by the `X-acf-sensor data` HTTP header. `pymazda` currently leaves this header blank as you can see here:

https://github.com/bdr99/pymazda/blob/ceac6d7402c5e08227c2875f176c717001f71ebb/pymazda/connection.py#L203-L214

This worked fine for several months, but Mazda is now validating this header and will not accept an invalid value. I tri

[2021-06-13 09:48] Mr-Grover commented on #11
Thanks for digging into this. Doesn't seem like an easy fix :(

[2021-06-14 21:58] bdr99 commented on #11
Yes, unfortunately I think it's going to be rather difficult. I need to understand the structure of the `X-acf-sensor-data` header and determine how to generate a value that the API will accept. I've made some progress toward this goal but I still have a lot more work to do.

[2021-06-28 08:26] pr0fetul commented on #11
Hi @bdr99 ,
Any updates for this integration? Can I help with something maybe?

Thank you very much for your work.

[2021-06-29 04:49] bdr99 commented on #11
Progress has been good so far. It was an extremely complex process that took me several weeks to understand, but I'm now able to semi-reliably generate valid values for the `X-acf-sensor-data` header. There are still a few more issues to work out. I'll probably need to increase the polling interval and add some caching, since the API seems to be more sensitive to excessive requests now. Also, my c

[2021-07-08 01:37] pmiguelcruz commented on #11
Sign me up for testing (North America here) @bdr99

[2021-07-08 05:45] bdr99 commented on #11
I have a fixed version of `pymazda` ready for testing! So far it has been working perfectly for me, but I need to test it for a couple of days to be certain that it's really working. It's great to see my car entities working again on my HA dashboard 🙂
![image](https://user-images.githubusercontent.com/2292715/124867124-7fa68600-df8b-11eb-898f-816b0b8b6aa1.png)

I'd appreciate it if some of you cou

[2021-07-08 07:05] pr0fetul commented on #11
Hi @bdr99 , good morning. I have used the files posted above, and as I already had the Mazda integration setup, it picked it up and started working.
Now it seems to work as previously. No errors thrown. The only thing (but I think this is probably because of the region - Romania - EU) is that tire pressure and car details are not fully displayed. Also, although I tried using some scripts with the

[2021-07-08 13:37] bdr99 commented on #11
@pr0fetul Thanks for testing! Tire pressure and fuel distance being unknown is normal for CX-5.

You mentioned that you can't start/stop the car or turn on/off the hazard lights. Did you try this from in HA? Was there any log output when you tried?

[2021-07-08 13:50] pr0fetul commented on #11
Hi, also, the start/stop I think it's dependent on the country maybe. Here is the error output:
[code]

[2021-07-08 13:52] bdr99 commented on #11
@pr0fetul Were you able to start/stop the vehicle before the HA integration stopped working? Also, are you able to start/stop it from the MyMazda app?

[2021-07-08 13:54] Mr-Grover commented on #11
Great news :) Hopefully I can test later today

[2021-07-08 13:56] pr0fetul commented on #11
No, that's what I was saying - maybe in US it works, but here in EU I think that both the app (MyMazda) and the car are not configured to remote start/stop / unlock or turn on/off hazard lights. I personally think it's stupid, but ... it's for Mazda to decide and implement first, so we can benefit afterwards.
Anyway - thank you very much for your hard work - I can confirm that all the options that

[2021-07-08 13:59] bdr99 commented on #11
@pr0fetul OK great! Yes, it's unfortunate that Mazda restricts those features in your region. But I'm glad to hear that the functionality is the same as it was before. Thanks again for the testing!

[2021-07-08 14:16] Valdorama commented on #11
So the 'fuel remaining' and tire pressure is not available at all for CX5s, or is it only intermittently reported by the API? Had visions of Home Assistant blasting notifications everywhere when the fuel dropped below a threshold.

Great work by the way, appreciate the effort you've put into this.

[2021-07-08 14:29] bdr99 commented on #11
@Valdorama "Fuel remaining" is available, but "fuel distance remaining" is not available. Fuel remaining is the percentage of fuel, but fuel distance remaining is the estimated distance the car can drive before the fuel runs out.

[2021-07-08 14:59] AllPurposeBen commented on #11
Seems to be working for me, I see entities for tire pressure, fuel, lock and location.

I don't see services listed for send_poi or start/stop engine but that may just be me needing to configure something in HA I'm missing. They are available and working from the Developer Tools menu.

[2021-07-08 15:01] bdr99 commented on #11
@AllPurposeBen Thanks! Where specifically are you not seeing the services?

[2021-07-08 15:07] AllPurposeBen commented on #11
If I look at the car in the Configuration -> Devices screen or if I look at tile for the integration in Configuration -> Integration.

[2021-07-08 15:09] bdr99 commented on #11
@AllPurposeBen Ah, ok. That is normal. Typically, to use those services, you would add them to an automation or script. You should see them in the services list when adding a "Call service" action to an automation.

[2021-07-08 15:15] AllPurposeBen commented on #11
I was thinking I was missing a convention in how to do it, make a script, attach button to it. I see now where I was missing switching the action type in the script builder to services. Cool, thank you!

[2021-07-08 16:21] Mr-Grover commented on #11
My computer is acting up so I won’t be able to test. Sounds like it’s working anyway.

[2021-07-09 01:53] bdr99 commented on #11
Thanks everyone for the testing. I just released this fix as version 0.2.0 of `pymazda`. I also submitted a PR (https://github.com/home-assistant/core/pull/52775) to get this fix added to Home Assistant. Hopefully they can get it included in one of the patch releases for July.

[2021-07-09 01:56] #11 closed

[2021-07-11 23:36] pmiguelcruz commented on #11
It works perfectly on my side.

Thanks for working on this Brandon!
Hopefully it gets included in one of the next releases of HA.

— Pedro
On Jul 8, 2021, 9:54 PM -0400, Brandon Rothweiler ***@***.***>, wrote:

[2021-07-11 23:42] bdr99 commented on #11
@pmiguelcruz Glad to hear it! It looks like the fix is scheduled to be included in HA 2021.7.2 which should be released in the next couple of days.

[2021-07-12 15:00] AllPurposeBen commented on #11
I didn't notice this before because it takes several days to manifest but twice since I installed this branch, the integration broke because it seems to have forgotten the password for the MazdaConnect account I'm using. As soon as I re-enter it, it works fine.

I can't reproduce on demand, rebooting the host or restarting HA doesn't trigger it. Not sure if it's the integration or HA itself.

I'm

[2021-07-12 23:15] bdr99 commented on #11
@Mr-Grover @pr0fetul @AllPurposeBen @pmiguelcruz Home Assistant 2021.7.2 was just released, and it includes the fix for this issue. If you were using the test version of the integration, make sure you delete it from your `custom_components` folder before upgrading.

@AllPurposeBen That's strange, I haven't seen that problem before. I don't think it's related to this issue. If it continues after re

[2021-07-14 06:31] NicolaiVdS opened #12 "Not all functions work for all cars"
I have a 2021 CX-5 (Belgium EU) and i dont have the Start engine function

so when trying to run the `client.start_engine()` function it errors out
`Traceback (most recent call last):
  File "C:/Users/n.vanderstorm/Documents/mazda.py", line 28, in <module>
    loop.run_until_complete(test())
  File "C:\Users\n.vanderstorm\AppData\Local\Programs\Python\Python39\lib\asyncio\base_events.py", line 642

[2021-07-14 13:55] AllPurposeBen opened #13 "Integration losing account password"
I didn't notice this before because it takes several days to manifest but twice since I installed this branch, the integration broke because it seems to have forgotten the password for the MazdaConnect account I'm using. As soon as I re-enter it, it works fine.

I can't reproduce on demand, rebooting the host or restarting HA doesn't trigger it. Not sure if it's the integration or HA itself.

It's

[2021-07-15 02:31] bdr99 commented on #13
Can you please add this to your configuration.yaml?
[code]
Then, if the issue happens again, can you check your HA logs for any errors or anything that looks out of the ordinary, and share it here if you find anything?

[2021-07-15 02:37] bdr99 commented on #12
Hi @NicolaiVdS

When you log into the MyMazda app on your phone, do you see the "start engine" function there? If so, what happens when you try it? Just trying to narrow down how the app is detecting what functions are available to your car.

[2021-07-15 02:40] bdr99 commented on #3
Hi @Mr-Grover, I'm going to close this issue now, since the start/stop charging and door lock features are now added to the HA integration. If you have any problems with those features then please feel free to open a new issue.

[2021-07-15 02:40] #3 closed

[2021-07-15 13:19] NicolaiVdS commented on #12
@bdr99 in the app i only get the lock/unlock and locate features

[2021-07-19 18:32] AllPurposeBen commented on #13
I enabled logging last week and promptly forgot about it. I checked today but had already started the update process to Core 2021.7.3. Before the update, it was in the failed state but I didn't get a chance to look at the logs. Post update, it's not failing and logs look normal:
[code]

Will check back and see if it fails again or if maybe 2021.7.3 was a factor and it's fixed.

[2021-07-19 22:24] AllPurposeBen commented on #13
Checked back and HA isn't warning that it's lost the password but I see this in the logs:
[code]

And also:
[code]

[2021-07-20 16:29] AllPurposeBen commented on #13
Checked today and it did show the integration stopped and needing configuration. Here's what I saw in the log:
[code]

Restarting core cleared the issue and it's running again. I did notice some errors from other integrations (I left a ring error in the above log snip) and will investigate if maybe there's a large issue in my HA instance. Pease advise if the above logging would indicate that.

[2021-07-21 01:29] bdr99 commented on #13
Thanks for sharing those logs. FYI, the message `Server reports request was not encrypted properly` is completely normal. There is an encryption key which changes every so often, and that message just means it is fetching the latest encryption key from the Mazda API. `Server reports access token was expired. Retrieving new access token.` is also normal. The access token expires after some time, re

[2021-07-21 01:51] bdr99 commented on #12
@NicolaiVdS I may have figured out how the app determines which features are available for your car. I've created a new branch in this repo called [`available_service`](https://github.com/bdr99/pymazda/tree/available_service). It adds a new endpoint called `get_available_service()` which takes a vehicle ID and returns info about the services available. It is documented in the readme on that branch

[2021-07-21 02:07] AllPurposeBen commented on #13
I only see one. Unhid ignored and disabled and confirmed only one.

I've been looking at the `ha` command line tool to see if there's a way to see running instances of an integration but I'm not seeing how and not sure how they are scheduled/daemonized.

The only non-standard thing I can think of I've done related to this integration was running the test code from the last release. I confirmed tha

[2021-07-21 02:12] bdr99 commented on #13
Can you check the file `.storage/core.config_entries` in your HA config directory? In the `entries` array, how many entries are there where the `domain` is `"mazda"`?

[2021-07-21 02:18] AllPurposeBen commented on #13
Just the one entry:
[code]

[2021-07-21 02:27] AllPurposeBen commented on #13
Worth noting, I have 2 vehicles in my Mazda account. I'm not sure it's that's a factor and why there are 2 calls. I see data for both in `core.device_registry`.

[2021-07-21 02:32] bdr99 commented on #13
Ah, that's a good point. I think that is probably the issue. I've tested with multiple accounts, but never with multiple vehicles in a single account, so that didn't even cross my mind.

The HA integration fetches the current vehicle status every 3 minutes, but that requires a separate API call per vehicle. What I suspect is happening is that the two API calls for the two vehicles are being made a

[2021-07-22 01:55] bdr99 commented on #13
@AllPurposeBen Here's a version that only makes one call to the Mazda API at a time. Can you extract this into your `custom_components` folder, restart HA, and let me know if it resolves the issue for you?

[mazda_concurrent_request_fix.zip](https://github.com/bdr99/pymazda/files/6859564/mazda_concurrent_request_fix.zip)

[2021-07-22 20:13] AllPurposeBen commented on #13
So far so good, but would like to give it a day or two to be sure.

This may be an unrelated issue but whilst I was looking at today's logs, [I saw a number of tracebacks in a row](https://gist.github.com/AllPurposeBen/7ddc5ecab75f2b52dec78a255faf71d1) that seem to indicate a connection issue with Mazda's servers. Happened for about an hour and then cleared on its own so maybe it was a transient i

[2021-07-22 20:24] bdr99 commented on #13
I actually have the same entries in my HA logs at the same exact time of day as you. So it must have been an issue with the Mazda servers.

[2021-07-26 13:21] AllPurposeBen commented on #13
Ran solid all weekend, no issues in the logs. I think we're good 😄

[2021-07-29 23:23] bdr99 commented on #13
@AllPurposeBen That's great! I'll open a PR to get these changes merged into HA. Thank again for the testing.

[2021-07-29 23:30] AllPurposeBen commented on #13
Thank you for all your hard work on this!!

[2021-08-08 15:54] bdr99 commented on #13
The fix is now released in HA 2021.8, so I'm closing this issue.

[2021-08-08 15:54] #13 closed

[2021-08-10 11:11] Frankenslag opened #14 "FuelRemaining incorrect on MX-30"
I have noticed that the **FuelDistanceRemainingKm** is being reported incorrectly for my MX-30. (120km instead of 218km). After experimentation seems that there is an additional API, **getEVVehicleStatus**, that can return the correct value along with the charge percentage etc. I believe you can if you have an electric car by examining if **eConnectType** in the vehicle base info is set to 1.

[2021-08-11 08:08] bdr99 commented on #14
Thanks for this info! I don't have an MX-30 so this is very helpful. Can you provide a sample of the response for getEVVehicleStatus so I can see the structure of the data?

[2021-08-11 08:48] Frankenslag commented on #14
See below for an example JSON response

I looked for strings in the apk similar to the ones used in your library and found the **getEVVehicleStatus** close by. I didn't really do much analysis in the traditional sense. The interesting fields for me are **SmaphRemDrvDistKm**, **SmaphRemDrvDistMile** and **SmaphSOC**. I would not use the position figures returned by this as they don't have the sign

[2021-08-11 09:01] bdr99 commented on #14
Thanks. What is `SmaphSOC`? Is that the battery level as a percentage?

[2021-08-11 09:03] Frankenslag commented on #14
Another end point that may be useful is **getRemoteControlPermission**. I believe that you can restrict the API to certain functions and this will tell you what is available. It is called with the vin rather than the internal vin as below

[code]

The response is :

[code]

[2021-08-11 09:04] Frankenslag commented on #14
I believe so - will let you know the next time someone actually drives the car and I can compare readings.

[2021-08-11 09:19] bdr99 commented on #14
Thanks, this is some great info. There are so many endpoints that I haven't figured out yet. I'll start by adding the EV status attributes to the return value of `get_vehicle_status()`. Would you be willing to help me research other EV-specific methods as well, such as the HVAC methods?

[2021-08-11 09:38] Frankenslag commented on #14
Of course - Some background.. I have an MX5 (Miata) RF and an MX-30.

I have been working on a port of your library to C# which is almost finished. Happy to share this library with you if you want to keep it alongside your python version..

[2021-08-13 01:00] bdr99 commented on #14
The C# port sounds interesting. If you have any questions about my Python or TypeScript versions feel free to ask.

Are you planning to open source it on GitHub? I'd be interested to see how it looks.

[2021-08-13 08:29] Frankenslag commented on #14
I will Open Source it once I write a readme. I have added you as a collaborator so you can see it now at https://github.com/Frankenslag/MazdaApi

[2021-08-15 22:55] tsothcott opened #15 "Sensor data incomplete"
Hi!

First of all - great repo. I've learnt a lot as I'm working on a separate project, but some of your code has come in handy :)

I've noticed that the sensor data methods aren't complete, namely `generate_edited_text`, `generate_orientation_data_aa` etc.

Do you have these methods complete?

Thanks again!

[2021-08-15 23:07] bdr99 commented on #15
Hi @tsothcott. Thanks! Glad you're finding it useful.

When I was implementing the sensor data methods, I found that not all of the data was necessary in order to generate valid sensor data. In particular, I chose not to implement the orientation and motion related values, since the logic behind them is very complex and it seemed to work fine without them. I guess the server can't require orientat

[2021-08-15 23:10] tsothcott commented on #15
Ah understood! Do you have a Discord or email I can reach you on? I've a few more unrelated questions if that's okay :)

[2021-08-15 23:14] bdr99 commented on #15
Sure, my Discord is bdr9#9134 and my email is in my GitHub profile.

[2021-08-16 02:40] bdr99 commented on #14
As an update, I'm still working on adding the `getEVVehicleStatus` endpoint, but I want to figure out what more of the values mean first. Working on debugging the apk to figure them out.

[2021-08-18 15:37] Frankenslag commented on #14
I have a further api that I have looked at on my MX-30. This is Get & Set HVAC

TemperatureType = 1 for Celsius and 2 For Farenheit

**End Point**

**/remoteServices/updateHVACSetting/v4**

**Body**

[code]

**Response**

[code]

**End Point**

/remoteServices/getHVACSetting/v4

**Body**

[code]

**Response**

[code]

[2021-08-18 17:22] Frankenslag commented on #14
I have made the C# version publicly available [Here](https://github.com/Frankenslag/MazdaApi)

[2021-08-22 19:55] bdr99 commented on #14
@Frankenslag Thanks for the info about `updateHVACSetting` and `getHVACSetting`. Would you mind sharing sample responses for the following endpoints as well?

 - `remoteServices/activeRealTimeVehicleStatus/v4`
 - `/remoteServices/findVehicleLocation/v4`
 - `/remoteServices/hvacOn/v4`
 - `/remoteServices/hvacOff/v4`

They all take a request body that looks like this:
[code]

These are all specific

[2021-08-22 23:46] #15 closed

[2021-08-23 08:02] Frankenslag commented on #14
For both **remoteServices/hvacOn/v4** and **remoteServices/hvacOff/v4** the result was in the following format.

[code]

[2021-08-23 09:02] Frankenslag commented on #14
Here is a response to **remoteServices/findVehicleLocation/v4**. Note that the flags need to be used to determine the sign of the Lattitude and Longitude data.

[code]

[2021-08-29 03:09] bdr99 commented on #14
Hi @Frankenslag I added some new EV-specific features to this library:
 - `isElectric` attribute in the response of `get_vehicles()`
 - `get_ev_vehicle_status()` - this has the range info, battery status, etc
 - `get_hvac_setting()`
 - `set_hvac_setting()`
 - `turn_on_hvac()`
 - `turn_off_hvac()`
 - `refresh_vehicle_status()`

I pushed the changes to a branch named [`ev_hvac`](https://github.com/b

[2021-09-02 06:35] pr0fetul opened #16 "Error: An update to Mazda app is required to continue"
Hi @bdr99 ,

It seems that Mazda has again updated something related to the MyMazda app, and it stopped working again. Here is the log:
[code]

[2021-09-03 15:32] bdr99 commented on #16
Thanks @pr0fetul. It looks like Mazda made a change to their API to correspond with a new update to the MyMazda mobile app. I think I might just need to increase the app version number in the HTTP headers. I'll look into this.

[2021-09-03 16:23] pr0fetul commented on #16
Thank you very much.

[2021-09-04 00:00] bdr99 commented on #16
I just published version 0.2.1 which should fix this. @pr0fetul Can you please test and let me know?

[2021-09-05 12:12] pr0fetul commented on #16
Hi @bdr99,

I downloaded and moved the mazda 2.1 folder to the custom_components folder, restarted HA, but unfortunately I get the same error:
[code]

[2021-09-05 13:29] bdr99 commented on #16
Actually, that's not the correct process to test the new version with HA. I packaged the new version as a custom component here:
[mazda.zip](https://github.com/bdr99/pymazda/files/7111670/mazda.zip)

If you download and extract this into your custom_components folder, it should load the new version of pymazda. You will see an entry like this in your HA logs to confirm the custom integration is bei

[2021-09-05 14:34] pr0fetul commented on #16
I am sorry - I still have not setup a test environment yet.
I downloaded the attached folder, put it into custom_components, restarted HA and now it works again.
You were right and it needed a version upgrade.

[2021-09-06 04:26] bdr99 commented on #16
No worries! Thanks for testing. I'll close this issue since it's fixed. I submitted a PR to Home Assistant to fix the issue there: https://github.com/home-assistant/core/pull/55820

[2021-09-06 04:26] #16 closed

[2021-09-13 00:07] bdr99 commented on #10
Hi @fboulegue

I've been working on adding some MX-30 specific features. One of them is `refresh_vehicle_status()` which I believe will request an update from the vehicle. There are also other features like `get_ev_vehicle_status()`, `get_hvac_setting()`, `set_hvac_setting()`, `turn_on_hvac()`, and `turn_off_hvac()`.

I don't have an MX-30 for testing, so would you be able to test these features o

[2021-10-19 07:34] pr0fetul commented on #16
Hi Brandon (@bdr99 )
It seems that there is another MyMazda update that's needed.
Can you re-update the code?

[code]

Thank you very much

[2021-11-04 20:45] CacioGit commented on #14
I just started to drive an MX-30, and noticed that the main branch doesn't seem to include the EV-specific methods.
On the other side, the ev_hvac branch is now a couple of releases outdated.

Do you think you could merge at least the get_ev_vehicle_status() method into the main branch?

Thank you so much for all your work on this BTW

[2021-11-05 03:11] bdr99 commented on #14
Thanks @CacioGit for pointing that out. You're right, the ev_hvac branch is pretty outdated at this point. I went ahead and merged it into the main branch and released it as 0.3.0. Hope this helps!

If you wouldn't mind, could you please test the EV-specific features I mentioned above and let me know if they are working correctly with your car? I don't have an MX-30 so I can't test them myself. Th

[2021-11-09 15:53] CacioGit commented on #14
Sorry for the delayed response..
I immediately downloaded your 0.3.0 release, and indeed the new get_ev_vehicle_status() and refresh_vehicle_status() work perfectly.

I did some experimenting with retrieving the ev_vehicle_status() with and without a call to refresh(), and I think I started to understand the logic behind what the MX will actually update, and what not..

Both from the actual values

[2021-11-10 14:50] bdr99 commented on #14
@CacioGit Thank you for that info! I appreciate all of the testing. It's interesting that it only updates the data in `get_ev_vehicle_status()`, not `get_vehicle_status()`. I'll document that in the readme.

[2021-11-10 14:53] bdr99 commented on #10
Closing this issue since @CacioGit was able to test and confirm that `refresh_vehicle_status()` was working for them in this comment: https://github.com/bdr99/pymazda/issues/14#issuecomment-964282861. This feature is released in version 0.3.0.

[2021-12-10 02:27] alanzchen opened #17 "Installing it in PyTo on iOS?"
Hi,

Wondering if anyone got this to work on iOS? I am currently stuck at the `aiohttp` dependency in both PyTo and Pythonista. Here is the sample error from PyTo

[code]

Thanks!

By the way, how do you guys all use this library? I primarily want to use it as a Siri shortcut.

[2021-12-10 02:36] AllPurposeBen commented on #17
I started to play with it in Pyto but kinda ran into dependency hell and switched to interacting with the API via HomeAssistant to get access via iOS.

[2021-12-10 02:40] alanzchen commented on #17
@AllPurposeBen

Same here. I guess I'd better off writing an API wrapper and deploy it to Heroku.

Where do you run your HomeAssistant instance? On a VPS?

[2021-12-10 02:48] AllPurposeBen commented on #17
I started to do the same but it occurred to me all the hard work was already done for HA so why reinvent the wheel.

I run mine locally on a pi4 and access it on the outside via the HomeAssistant Cloud thing that Nabu Casa has.

The iOS app is pretty reliable and if your used to general HA config, it's not too hard to set up. If you want to do more complex automation, you can use NodeRED in HA for

[2021-12-22 22:02] alanzchen commented on #17
I just made an API wrapper that runs on Heroku. Now I can easily make iOS shortcuts :)

https://github.com/alanzchen/mymazda-relay

[2022-01-12 15:14] Valdorama opened #18 "Support for long-term statistics in Home Assistant"
Hi - not sure if this is the right mechanism to raise such an enhancement request, given that this is the project for the MCS python API and not directly related to Home Assistant.

I have create a new [feature request](https://community.home-assistant.io/t/mazda-connected-services-integration-support-for-long-term-statistics/378922) on the HA community site, to have support for [long-term statist

[2022-01-16 02:56] bdr99 commented on #18
Hi @Valdorama. Good news: I added the `state_class` attribute to the sensor entities in the HA integration. It will be included in 2022.2. Enjoy!

[2022-01-16 02:56] #18 closed

[2022-01-16 03:21] Valdorama commented on #18
Wonderful, thank you!

[2022-01-23 09:12] HWiese1980 opened #19 "Report: `unlock_doors` throws error `[E400002]` when executed on MX-30"
Hello,

FYI: I cannot seem to unlock the doors of my MX-30 by means of the lib. The request returns with error code `E400002`. The full error message is

```Request failed: Please wait for a while and try again.When an error continues, please contact the call center.[E400002]```

Cheers!

[2022-01-23 12:01] bdr99 commented on #19
Can you try the same thing in the official MyMazda app and see if it works there?

[2022-01-23 15:13] CacioGit commented on #19
As an MX30 owner, I can confirm that even the official MyMazda App can only _lock_ the car, but never _unlock_ it.
While this would be kind of a nice option to have, it is up to Mazda to implement it first.

[2022-01-23 19:49] HWiese1980 commented on #19
Oh, I see. If I'm not mistaken though, I think that, despite also throwing the error, it has worked once. I think I unlocked the car with a Home Assistance button, trying multiple times. Always got the error but the car unlocked. I remember I was a bit surprised. And I'm certain I didn't have the key at hand and nobody else was around to unlock it.

If it's a security feature by Mazda, it seems li

[2022-01-24 03:18] bdr99 commented on #19
@HWiese1980 or @CacioGit, would either of you be able to confirm that this is the case? If unlocking the car works despite the error message, then I may be able to make the library ignore the error. But I would need to be certain that it actually works.

Also, what do you see in the MyMazda app? Is there even an unlock button? If you try to unlock, do you get an error there as well?

[2022-01-24 18:28] CacioGit commented on #19
From the MyMazda app you really can only Lock the car, there is no option at all to Unlock it.

This is the animation/text that you get when you long press the Lock button:

<img width="396" alt="image" src="https://user-images.githubusercontent.com/15092052/150841919-424c6059-cfb1-4363-be4b-f6ba3dc67415.png">

[2022-01-24 18:42] bdr99 commented on #19
@CacioGit Thanks for that info. Are you able to test whether `unlock_doors()` unlocks the car doors, despite the error message?

[2022-01-24 19:01] HWiese1980 commented on #19
My thought on that is, it's a security "feature", maybe as long as there's no MFA in place. No idea what's on their roadmap for the app. Seems to be a little *Cinderella*....

[2022-01-24 19:03] HWiese1980 commented on #19
Oh and, as mentioned, it seems like unlocking the doors despite the error only worked coincidentally. I haven't been able to reproduce it yet.

[2022-01-26 06:27] pr0fetul commented on #16
Hi Brandon (@bdr99 )
It seems that there is another MyMazda update that's needed.
Can you re-update the code?
[code]

[2022-01-26 06:32] HWiese1980 opened #20 "Since this morning: `Request failed: An update to Mazda app is required to continue` for any request"
Hi,

since today morning I'm receiving the error `Request failed: An update to Mazda app is required to continue` for all and any request sent to the MyMazda API. Seems like Mazda has updated their end and pymazda got to follow along.

Just for info...

Cheers!

[2022-01-26 09:56] pr0fetul commented on #20
Hi Brandon (@bdr99 )
It seems that there is another MyMazda update that's needed.
Can you re-update the code?
[code]

[2022-01-26 14:54] pr0fetul commented on #20
@bdr99 - trying the code today I noticed the following output for vehicle_details and for vehicle_status:

[code]
automatic transmission is not correct - it should be true - I guess this needs to be discussed at the dealership :)

[code]
As we have outputs for doors, windows, could these be translated into sensors in HA as well?
In order to read this, I changed the #APP_VERSION = "8.1.0" to APP_VE

[2022-01-26 15:45] HWiese1980 commented on #20
I thought binary sensors for these were already on the roadmap... yeah, would be awesome to have these in HA too.

Not the topic here though, just sayin 😘

[2022-01-26 15:50] mragg commented on #20
Hi, at the moment I'm getting  "Request failed: An update to Mazda app is required to continue" requesting my mx30 - there's no fix (?) - I just didn't understand wether someone of you just fixed it ...

(Since yesterday I'm on the first steps integrate the module into my homeautomation - I'm using fhem .. )

Martin

[2022-01-26 17:19] HWiese1980 commented on #20
I understand there's no official fix yet. Correct me if I'm wrong

[2022-01-26 19:21] mragg commented on #20
One idea - in the android-app there today there is a new question "popup" after login to allow push notification. Perhaps that's the same in pymazda. After answering in the app there are no more questions in the app - it still is not working in pymazda - only an idea ..

regards,
Martin

[2022-01-27 02:00] bdr99 commented on #20
Thanks to everyone who reported this issue. This happens every time Mazda releases a new version of their mobile app. They recently released version 8.1.1, and Mazda is now rejecting any connections coming from version 8.1.0 of the app. The library was identifying itself as version 8.1.0, which is why it broke.

I have incremented the mobile app version number in the code so that the library will

[2022-01-27 02:00] #20 closed

[2022-01-27 02:01] bdr99 commented on #16
@pr0fetul This is now fixed and a PR has been submitted to Home Assistant. See https://github.com/bdr99/pymazda/issues/20#issuecomment-1022773453.

[2022-01-27 02:51] Valdorama commented on #20
Given that this would happen whenever the Mazda app is updated, is there any way the integration could dynamically determine the latest app version? A quick Google suggests there may not be an official Google Play Store API for that info, but I found an unofficial one:

https://api-playstore.rajkumaar.co.in/version?id=com.interrait.mymazda

That gets you the version of the MyMazda app on the store

[2022-01-27 03:12] bdr99 commented on #20
@Valdorama That's a good idea. I don't like the idea of using an unofficial API, but I'll explore alternatives. One idea I had was to add a static file in this repo that contains the version number. The library would fetch this file from github on startup and use that as the version number, falling back to the hard coded value if this fails. The file would still have to be kept to date, but at lea

[2022-01-27 03:54] Valdorama commented on #20
Yeah that would work well too. If it reads the file on startup, some extra advice in the error message would be useful i.e. "the integration is out of sync with the MyMazda app version...please reload the integration" or something to that effect. So when the integration is reloaded it fetches the updated github file.

[2022-01-27 21:32] mragg commented on #20
@bdr99 Thanks a lot for your update - works again :-)

[2022-01-27 21:47] HWiese1980 commented on #20
Confirmed! Also works in HA, only need to copy the MyMazda integration from the HA core repository to `custom_components`, set `pymazda` version to 0.3.2 in the `manifest.json` and restart core.

[2022-01-27 21:54] bdr99 commented on #20
If you do this, don't forget to delete it from `custom_components` after upgrading to HA 2022.2. Otherwise you will not receive any future improvements to the Mazda integration.

[2022-01-27 23:26] bdr99 commented on #14
Closing this issue since `get_ev_vehicle_status()` is now implemented and allows you to get the charge level and remaining EV range.

[2022-01-27 23:26] #14 closed

[2022-01-28 05:26] HWiese1980 commented on #20
Absolutely. Thanks for the heads-up! Oh and for the fix of course! You're doing a great job here!

[2022-02-11 12:08] pr0fetul opened #21 "Feature request - add sensors for doors and windows"
Hi Brandon,

I don't know if this is on your to-do list, but can we have some sensors defined in HA based on the output from services?
The new diagnostic log shows the results are there, can you please help add these values under sensors in HA?
Here is an output from my car:
[code]
false for Closed / true for Open type of conversion?

Also, just asking, have you tried to switch the region area - t

[2022-02-11 14:12] bdr99 commented on #21
Hi @pr0fetul,
I have actually already been working on this. I submitted a PR here: https://github.com/home-assistant/core/pull/64604 and am currently waiting for review from the HA core team.

There will be binary sensor entities for the doors, trunk and hood. Also "plugged in" and "charging" status for electric vehicles. Unfortunately, the window status returned by the Mazda API doesn't seem to b

[2022-03-12 03:53] bdr99 commented on #21
Binary sensors for doors will be added in Home Assistant 2022.4.

As stated above, binary sensors for windows are unfortunately not possible.

[2022-03-12 03:53] #21 closed

[2022-06-15 00:58] CAT1210 opened #23 "Not returning unless I open app on phone"
Recently, I have started having an issue with this. This Python script will not return anything and will just run and run without returning any results. The only way to get it to work again is to open the Mazda app on my phone, sign in, then it will work well again for a little while. Any ideas?

[2022-06-17 20:15] #23 closed

[2022-06-17 21:02] bdr99 commented on #23
Hi @CAT1210, sorry I didn't get a chance to reply to this issue. I haven't seen this problem before. I'm curious if you were you able to resolve it?

[2022-06-19 18:30] CAT1210 commented on #23
I think my application is different from most. I developed an application that takes it's information from results of PyMazda every few minutes. So, my PyMazda Python script would run every few minutes to get the latest data from my vehicle. I think what was happening is the PyMazda script was not getting data at times and returning anything (probably something on the Mazda cloud side), the PyMazd

[2022-07-10 19:28] CacioGit opened #24 "pymazda and M1 CPU"
I am having an issue getting pymazda working correctly on M1-based machines, and I am not sure if I am doing something incorrectly, or if the issue may be related to the M1 CPU.
I have this working correctly on two older Intel-based laptops..

What I see is that the script seems to get stuck at the main loop "loop.run_until_complete(test())":
---
python3 mazda.orig.py
^CTraceback (most recent call

[2022-07-10 19:37] bdr99 commented on #24
Hi @CacioGit,

To start, can you add the following to your code, before the first call to pymazda? This should provide some debugging output that may be helpful.
[code]

[2022-07-10 19:53] CacioGit commented on #24
This is what I call a fast answer @bdr99 :)

Seems to be stuck at the "Sending POST request" step:
--
DEBUG:asyncio:Using selector: KqueueSelector
INFO:pymazda.connection:Retrieving encryption keys
DEBUG:pymazda.connection:Sending POST request to service/checkVersion
INFO:pymazda.connection:Successfully retrieved encryption keys
INFO:pymazda.connection:No access token present. Logging in.
INFO:pym

[2022-07-10 20:12] bdr99 commented on #24
Hmm, that's what I was afraid of...

I think the Mazda API is actually using a [TLS Fingerprinting](https://stormwall.network/knowledge-base/termin/tls-fingerprinting) technique to attempt to block automated requests. It works by inspecting the parameters of the TLS handshake such as supported ciphers, TLS extensions, etc, and using that to guess which type of client is sending the request. If Maz

[2022-07-10 20:22] CacioGit commented on #24
I did try collecting a "tcpdump" trace, but I can't really spot anything "obvious" in it..
I will try collecting one from the older Mac and one from this one and see if anything stands out.

If the issue is indeed with a "fingerprinting" approach in trying to keep non-official-apps out of their servers, it may only be the beginning of a cat-and-mouse game then, pity..

I will try installing pyMazd

[2022-07-10 20:42] bdr99 commented on #24
Thanks! Yeah, it does seem like it's going to be a cat-and-mouse game unfortunately. Let me know if you're able to figure anything out.

By the way, I also tried the Docker approach. I had some luck with the `python:3.10-alpine` image.

[2022-07-10 20:43] bdr99 commented on #24
Also, I'm not sure if you are aware but I also maintain a Node.js version of this library called `node-mymazda`. So far it doesn't seem to be affected by this issue.

[2022-07-14 23:26] Jaganmohan029 opened #25 "Unable to send requests from AWS EC2 instances"
Hi,

I tried to test pymazda apis requests from EC2 instances. After a couple requests, my requests weren't responded by the mazda server. I tried to do it directly from my laptop, and it was all working fine.

Is it because of some kind of IP address based detection or something else?

Is there a work around for this issue?

Thanks

[2022-07-17 15:35] CacioGit commented on #24
I am going to Close the log:
I switched to using the Node.js version, as I didn't like the idea of having a container running just as a workaround to the fingerprinting issue with this Python module.

It took me a while to get all the pieces together for the Node.js solution, but in the end I could integrate it with my own tool quite nicely.

Thank you for having looked into this issue, and even m

[2022-07-17 15:35] #24 closed

[2022-08-09 11:46] pr0fetul opened #26 "Error setting up entry user@mail.com for mazda"
Since yesterday, it seems that the component cannot connect anymore. In logs this is the entry:
[code]

Can you take a look at it?
Home Assistant 2022.8.2
Supervisor 2022.07.0
Operating System 8.4
Frontend 20220802.0 - latest

[2022-08-09 13:27] bdr99 commented on #26
Hi @pr0fetul, I just checked and the integration is working on my side. The logs show that the DNS lookup failed, so I think this might have been just been a temporary network issue on your side. Are you still getting this error in your logs? If so, could you please try restarting your host system to see if the error persists?

[2022-08-09 13:58] pr0fetul commented on #26
Yea, it seems you were right - I just restarted HA and it resumed working without errors - very strange (might be tied with the fact that I upgraded the FW of the router a few days ago) but other than that, there were no changes.

Thank you so much for the fast reply. We can close the issue.

[2022-08-09 14:01] bdr99 commented on #26
Thanks for confirming!

[2022-08-09 14:01] #26 closed

[2022-08-17 03:29] bdr99 commented on #25
Hi @Jaganmohan029, I'm sorry it took me so long to reply.

Unfortunately I think Mazda has recently started to use TLS fingerprinting to attempt to block automated requests like the ones generated by this library. It's not a good situation, and there really isn't much we can do about it, but there are a few possible workarounds. I just updated the readme to add a section that describes the issue a